{% extends 'contacts/base.html' %}

{% block title %}Contact Management{% endblock %}
{% block header %}Contact Management{% endblock %}

{% block content %}
    <a href="{% url 'contact_new' %}" class="btn btn-primary">Create New Contact</a>
    <br><br>
    <table class="table">
        <thead>
            <tr>
                <th>Contact Name</th>
                <th>Email</th>
                <th>Created Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.contact_name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.created_time }}</td>
                    <td>
                        <a href="{% url 'contact_detail' pk=contact.pk %}">Detail</a> |
                        <a href="{% url 'contact_edit' pk=contact.pk %}">Edit</a> |
                        <a href="{% url 'contact_delete' pk=contact.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
